html {
    width: 70ch;
    margin: 0 auto;
    font-family: monospace;
}

details {
    background-color: #ccc;
    padding: 6px 12px;
    margin-bottom: 12px;
}

details > p {
    margin-bottom: 4px;
}

summary {
    margin-left: -4px;
}

code {
    background-color: #eee;
    font-style: normal;
    padding: 1px 2px;
    margin: -1px -2px;
}

form {
    border: 2px solid #ccc;
    padding: 10px 10px 10px 10px;
    margin: 12px -12px 12px -12px;
}

label {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 14rem;
    margin-right: 1rem;
}

label::after {
    content: ':';
}

textarea {
    resize: none;
    vertical-align: middle;
    width: 25rem;
    height: 3rem;
}

select, textarea, input, input[type=file]::file-selector-button {
    font: inherit;
}

select, textarea,
input[type=number], input[type=text], input[type=submit],
input[type=file]::file-selector-button {
    background-color: #ccc;
    border: 0;
    padding: 4px;
    max-width: 25rem;
}

form div {
    margin: 4px 0;
}

input[type=submit] {
    display: block;
    margin: 0 0 0 auto;
}

textarea:hover, select:hover,
input[type=number]:hover, input[type=text]:hover, input[type=submit]:hover,
input[type=file]::file-selector-button:hover { 
    background-color: #aaa;
}
